
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
.prata-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    /* font-style: italic; */
  }

.freeman-regular {
 
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    /* font-style: italic; */
  }


body {
  margin: 0;
  font-family: "Comic Neue", cursive;
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.swiper-pagination .swiper-pagination-bullet{
  background-color: rgb(255, 136, 0);
  border: 3px solid rgb(255, 255, 255);
  opacity: 1;
  width: 15px;
padding: 7px;
border-radius: 50%;
  height: 15px;
}
